<p id="notice"><%= notice %></p>

<p>
  <strong>What:</strong>
  <%= @thang.what %>
</p>

<p>
  <strong>Place:</strong>
  <%= @thang.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @thang.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @thang.amount %>
</p>

<p>
  <strong>Novelty rating:</strong>
  <%= @thang.novelty_rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thang.description %>
</p>

<p>
  <strong>Flyer:</strong>
  <%= @thang.flyer %>
</p>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_thang_path(@thang) %> |
  <%= link_to 'Back', thangs_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
