<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" title="._.·° going out is a timeless desire" />
      <p><%= link_to "eH... ¿qué es esto?", about_url %></p>
      <p>
        <%- if session[:user_id] -%>
          <%= link_to "salí", logout_url, :method => :delete %>
        <% else %>
          <%= mail_to("airOnGString@gmail.com", "-> @", subject: "SYN", encode: "javascript") %>
        <%- end -%>
      </p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs.blank? %>
      <% @thangs.each do |thang| %>
        <div class="unit">
          <div class="header">
            <%= link_to thang.what, thang_path(thang) %>
          </div>
          <div class="details">
            <span>
              <%= thang.place %>
            </span> |
            <span>
                <%= thang.date.to_date.inspect %> at noon
            </span>
          </div>
          <p><%= truncate(thang.description, length: 350) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
