<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" title="na bronk"></img>
      <p><%= link_to "eH... ¿qué es esto?", "#" %></p>
      <p>
        <%- if session[:user_id] -%>
          <%= link_to "salí", logout_url, :method => :delete %>
        <% else %>
          <%= mail_to("hello@recco.com.ar", "@", subject: "ACK", encode: "javascript") %>
        <%- end -%>
      </p>
      <p><%= link_to "._.", "#", :title => "svankie was here" %></p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs_by_date.blank? %>
      <% @thangs_by_date.each_pair do |date, thangs| %>
      <h2><%= date.strftime("%d/%m/%Y") %></h2>
      <% if thangs.blank? %>
        <p>Today's lame.</p>
      <% else %>
        <ul>
          <% thangs.each do |thang| %>
          <li>
            <h4>
              !! <%= link_to "#{truncate(thang.what, length: 55)} en #{thang.place} a las 5 P.M.", thang_path(thang.id), title: thang.description -%>
            </h3>
          </li>
          <% end %>
        </ul>
      <% end%>
    <% end %>
    <% end %>
  </div>
</div>
