<div id="container">
  <nav>
    <div class="menu">
      <img src="assets/logo.png" />
      <p><%= link_to "eH... ¿qué es esto?", "#" %></p>
      <p>
        <%- if session[:user_id] -%>
          <%= link_to "salí", logout_url, :method => :delete %>
        <% else %>
          <%= mail_to("hello@recco.com.ar", "-> @", subject: "ACK", encode: "javascript") %>
        <%- end -%>
      </p>
      <p><%= link_to "._. .·°", "#", :title => "going out is a timeless desire" %></p>
    </div>
  </nav>
  <div class="stream">
    <% unless @thangs_by_date.blank? %>
      <% @thangs_by_date.each_pair do |date, thangs| %>
      <h2><%= date.strftime("%d/%m/%Y") %></h2>
      <ul>
        <% thangs.each do |thang| %>
        <li>
          <span class="thang">
            !! <%= link_to "#{truncate(thang.what, length: 55)}", thang_path(thang.id), title: thang.description -%>
          </span>
          <small>
            <em>En <%= thang.place %> a las ~<%= thang.date %></em>.
          </small>
        </li>
        <% end %>
      </ul>
      <% end%>
    <% end %>
  </div>
</div>
