<div>
  <header>
    <h1>Welcome, bitch.</h1>
  </header>

  <section>
    <p>
      It's <%= @time %>.
    </p>
    <p>
      There are <%= pluralize(@thangs, "thang") %> and <%= pluralize(@users, "user") %>.
    </p>
  </section>

  <section>
    <p><%= link_to "Go to Homepage", root_url %></p>
    
		<h4>Main administrative actions</h4>
		<p><%= link_to "Thang administration", thangs_url %></p>
    <% if current_user.is_admin %>
      <p><%= link_to "User administration", users_url %></p>
    <% end %>

		<h4>Other administrative tasks</h4>
    <p><%= link_to "Send pageviews report", pageviews_url %></p>
	
		<h4>Finale</h4>
    <p><%= link_to "Logoff", logout_url, :method => :delete %></p>
  </section>
</div>
