<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <% if current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user.is_admin %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin %>
  <td><%= link_to 'New User', new_user_path %></p>
<% end %>

<%= link_to 'Logoff', logout_path, method: :delete %>
